In [11]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
pymoli_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_csv)

In [12]:
# Create dataframe
df = purchase_data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [45]:
# Count unique players based on "SN" column

SN = len(df['SN'].unique())
tot_players = pd.DataFrame({"Total Players": [SN]})
tot_players

   Total Players
0            576

In [60]:
# Average Price
unique_items = len(df['Item ID'].unique())

avg_price = df['Price'].mean()
avg_price = '${:.2f}'.format(avg_price)

numb_purchases = len(df['Item ID'])

tot_rev = df['Price'].sum()
tot_rev = '${:,.2f}'.format(tot_rev)
tot_rev

'$2,379.77'

In [62]:
# Create Data Frame for Purchasing Analysis
purchase_analysis = pd.DataFrame(
    {'Number of Unique Items':[unique_items], 
     'Average Price':[avg_price], 
     'Number of Purchases':[numb_purchases], 
     'Total Revenue':[tot_rev]})
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [63]:
# Gender Demographics

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [83]:
# Gender Demographics
gender_demo = df.groupby('SN').first()
gender_demo['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [ ]:
# Purchasing Analysis
gender_df = df.groupby('Gender')
gender_df['Gender'].value_counts()