In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
pymoli_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_csv)

In [2]:
# Create dataframe
df = purchase_data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
## Player Count Section ##

# Count unique players based on "SN" column 
unique_players = len(df['SN'].unique())

#Create data frame based on unique players to display output
unique_players_df = pd.DataFrame({"Total Players": [unique_players]})
unique_players_df

   Total Players
0            576

In [4]:
## Purchase Analysis variables defined ##

# Variable to count number of unique items
unique_items = len(df['Item ID'].unique())

# Variable to calculate average price and format in dollars/cents
avg_price = df['Price'].mean()
avg_price = '${:.2f}'.format(avg_price)

# Variable to calculate the number of purchases using Item ID column
numb_purchases = len(df['Item ID'])

# Variable to calcuate total revenue bases on sum of Price column and format in dollars/cents
tot_rev = df['Price'].sum()
tot_rev = '${:,.2f}'.format(tot_rev)
tot_rev

'$2,379.77'

In [5]:
# Create Data Frame for Purchasing Analysis and display purhcasing analysis by column
purchase_analysis = pd.DataFrame(
    {'Number of Unique Items':[unique_items], 
     'Average Price':[avg_price], 
     'Number of Purchases':[numb_purchases], 
     'Total Revenue':[tot_rev]})
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
# Gender Demographics
gender_demo = df.groupby('SN').first()
gender_count = gender_demo['Gender'].value_counts()
gender_total = gender_demo['Gender'].count()
player_percent = (gender_count / gender_total) *100
player_percent = player_percent.map("{:.2f}%".format)
gender = gender_demo['Gender'].unique()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [7]:
# Create Data Frame for Gender Demographics
gender_demo_df = pd.DataFrame({
     'Total Count':gender_count, 
     'Percentage of Players':player_percent, 
     })
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
Purchase_by_Gender = purchase_analysis.groupby('Average Price')
Purchase_by_Gender