In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
pymoli_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_csv)

In [2]:
# Create dataframe
df = purchase_data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
## Player Count Section ##

# Count unique players based on "SN" column 
unique_players = len(df['SN'].unique())

#Create data frame based on unique players to display output
unique_players_df = pd.DataFrame({"Total Players": [unique_players]})
unique_players_df

   Total Players
0            576

In [4]:
## Purchase Analysis variables defined ##

# Variable to count number of unique items
unique_items = len(df['Item ID'].unique())

# Variable to calculate average price and format in dollars/cents
avg_price = df['Price'].mean()
avg_price = '${:.2f}'.format(avg_price)

# Variable to calculate the number of purchases using Item ID column
numb_purchases = len(df['Item ID'])

# Variable to calcuate total revenue bases on sum of Price column and format in dollars/cents
tot_rev = df['Price'].sum()
tot_rev = '${:,.2f}'.format(tot_rev)
tot_rev

'$2,379.77'

In [5]:
# Create Data Frame for Purchasing Analysis and display purhcasing analysis by column
purchase_analysis_df = pd.DataFrame(
    {'Number of Unique Items':[unique_items], 
     'Average Price':[avg_price], 
     'Number of Purchases':[numb_purchases], 
     'Total Revenue':[tot_rev]})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
## Gender Demographics Section ##

# Create data frame that includes unique players
gender_df = df.groupby('SN').first()

# Create variable to count unique players by gender
unique_gender_count = gender_df['Gender'].value_counts()

# Create variable to calculate gender by percent of total players and format in % points
player_percent = (unique_gender_count / unique_players) *100
player_percent = player_percent.map("{:.2f}%".format)

In [7]:
# Create Data Frame to hold and display Gender Demographics output
gender_demo_df = pd.DataFrame({
     'Total Count':unique_gender_count, 
     'Percentage of Players':player_percent, 
     })
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
## Purchase Analysis by Gender Section ##

In [9]:
# Create variable using grouping to calculate purchase count by each gender group
count_group = df.groupby(['Gender']).count()
count_group_by_gender = count_group['Price']
count_group_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [10]:
# Create variable using grouping to calculate average price spent by gender group
avg_price_group = df.groupby(['Gender']).mean()
avg_price_by_gender = avg_price_group['Price']

In [11]:
# Create variable using grouping to calculate total price spend by gender group
tot_price_group = df.groupby(['Gender']).sum()
tot_price_by_gender = tot_price_group['Price']

In [12]:
# Create the data frame to store and output Purhcase Analysis by Gender
Purchase_by_Gender_df = pd.DataFrame({
    'Purchase Count': count_group_by_gender,
    'Average Purchase Price': avg_price_by_gender,
    'Total Purchase Value': tot_price_by_gender,
    'Avg Total Purchase per Person': tot_price_by_gender / unique_gender_count,
})

# Rename index column to 'Gender'
Purchase_by_Gender_df.index.name = 'Gender'

# Format purchase values to dollar formatting
Purchase_by_Gender_df['Average Purchase Price'] = Purchase_by_Gender_df['Average Purchase Price'].map('${:,.2f}'.format)
Purchase_by_Gender_df['Total Purchase Value'] = Purchase_by_Gender_df['Total Purchase Value'].map('${:,.2f}'.format)
Purchase_by_Gender_df['Avg Total Purchase per Person'] = Purchase_by_Gender_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
Purchase_by_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
## Age Demographics Section ##

In [14]:
# Create the bins and grouping categoriesfor age groups
bins = [0,9,14,19,24,29,34,39,100]
bin_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [15]:
# Categorize existing players into bins using pd.cut
df['Age Ranges'] = pd.cut(df['Age'],bins,labels=bin_group, include_lowest = True)

In [16]:
# Create variable reference original dataframe and remove duplicate player names
age_demos = df.drop_duplicates(subset=['SN'])

#Create variable to group remaining rows by Age Groups
age_demos = age_demos.groupby(['Age Ranges']).count()
age_count = age_demos['Age']
age_count

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [17]:
# Create data frame to list 
age_demo_df = pd.DataFrame({
    'Total Count': age_count,
    'Percentage of Players': age_count / unique_players * 100,
})

# Format Pecentage of Players column to percent
age_demo_df['Percentage of Players'] = age_demo_df['Percentage of Players'].map('{:.2f}%'.format)
age_demo_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%